@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');


body {
    background: linear-gradient(to right, #F1FAEE,#F1FAEE 25%,#ef8453 25%,#ef8453 100%);
    font-family: 'Molengo', sans-serif;
}
h1{
    box-sizing: border-box;
    width: 400px;
    position: fixed;
    top: 130px;
    left: 45px;
    font-size: 50px;
}
#quote{
    box-sizing: border-box;
    width: 300px;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    position: fixed;
    bottom: 120PX;
    left: 80px;
    
   }
#author{
    box-sizing: border-box;
    width: 100px;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    position: fixed;
    bottom: 100PX;
    left: 280px;
    

}

.container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 6000px;
}
.link-box1 {
    box-sizing: border-box;
    color:#F1FAEE;
    border: transparent;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding:15px;
    width: 23.5%; 
    position: -webkit-sticky;
    position: sticky;
    top: 18px;
    
}   
.link-box2 {
    box-sizing: border-box;
    color:#F1FAEE;
    border: transparent;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding:15px;
    width: 13.9%; 
    position: -webkit-sticky;
    position: sticky;
    top: 18px;
    
}

a:link {
    text-decoration: none;
    }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
.box1 { 
    background: #1c2541; 
}
.box2 { 
    background: #254E70; 
}
.box3 { 
    background: #2D728F; 
}
.box4{
    background: #3B8EA5;
}

.box5 { 
    background: #64B6AC; 
}

#main-contents{
    box-sizing: border-box;
    width: 700px;
    position: absolute;
    top: 140px;
    left: 700px;
    font-size: 20px;
}