@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
    font-family: 'Noto Serif', serif;
}
.home-page-content{
  box-sizing: border-box; 
  width: 700px; 
  font-size: 21px;
  text-align: left;

}


.container{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    
    
}
.link-box1 {
    box-sizing: border-box;
    color:white;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    padding:15px;
    width: 25%;
    
}
.link-box2 {
    box-sizing: border-box;
    color:white;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    padding:15px;
    width: 25%;
    
}

.box1 { 
    background: #c56cf0; 
}
.box2 { 
    background: #f1c40f; 
}
.box3 { 
    background: #2ed573; 
}
.box4 { 
    background: #1e90ff; 
}
.box5{
    background: #EAE2B7;
}
.box6{
    background: #FF9F1C;
}
.box7{
    background: #606C38;
}
.box8{
    background: #F7FFF7;
}


#left-panel{
    background-color: #F1FAEE;
    width: 450px;
    text-align: left;
    font-size: 30px;
    padding: 250px 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
   
 }
 
 
 #quote{
     font-style: italic;
     font-size: 16px;
     text-align: center;
     position: relative;
     bottom: -350PX;
     left: 70px;
     
    }
 
#right-panel{
    background-color: #ef8453;
    width: 985px;
    height: 100%;
    padding: 240px 200px;
    position: relative;
    top:0;
    right: 0;
    left: 502px;
    bottom: 0;
 }
.child-one{
    
}
.child-two{
   
.child-three{
    
